.add_comment_form {
    /* width: 80%; */
    display: flex;
}

.add_comment_form input {
    width: 70%;
    height: 50px;
    border: 2px solid black;
    border-color: rgb(43, 41, 41);;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 5px;
    font-size: 18px;
}

.add_comment_form button {
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}